<form action="/search" method="post">
City: <input type="text"  name="city"/>
Min Date: <input type="text"  name="min_date"/>
Max Date: <input type="text"  name="max_date"/>
<input type="submit" value="Submit" />
</form>


<form action="/grooveshark" method="post">
Search for Song: <input type="text"  name="query"/>

</form>
